/*
Portfolio main.css
350px smallest phone
700px smallest tablet
1000px smallest desktop
select multiple classes: ,
*/

html {
    font-family: Helvetica, arial, sans-serif;
    font-size: normal;
    /* border box start --------------------- */
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    /* border box end ---------------------*/
}

.container {
    /* to center body using margin: 0 auto; you must specify a width */
    width: 100%;
    margin: 0 auto;
}

.header {
    /* Header fixed to top: position fixed, top:0, width 100 */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: white;
    opacity: 0.9;
    padding: 5%;
}

.photo {
    float: left;
    margin-left: 3%;
    width: 20%;
    border-radius: 50%;
}

.name {
    font-size: 6vw;
    padding-left: 45%;
}

ul {
    list-style-type: none;
}

/*begin stying for two column Flex layout*/
.flex_container {
    display: flex;
    width: 100%;
}
.flex_item_left {
    word-break: break-word;
    padding: 30% 5% 10% 7%;
    height: 100%;
    width: 35%;
    background: #cddc39;
}
.flex_item_right {
    padding: 30% 13% 5% 10%;
    height: 100vh;
    flex: 1;
}
/*end stying for two column Flex layout*/