/*STATES GAME REDO*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin-left: 20%;
  margin-right: 20%;
}

.map {
  width: 75%;
  background: linear-gradient(to right, red, white, blue);
}
.titleMurakami {
  margin-top: 4%;
  text-align: center;
  font-size: 2em;
}
.titleClass {
  text-align: center;
  font-size: 2em;
  margin-bottom: 4%;
}

.instructions{
  text-align: center;
  font-size: 1.7em;
  margin: 4% 0%;
  color: black;
}

h2{
  font-size: 1.5em;
  padding-top: 2%;
  padding-bottom: 2%;
  color: black;
  text-align: center;
}

.state-box{
  padding-top: 5%;
  padding-bottom: 5%;
  display: inline-block;
  width: 100%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto
  }

.pic-state {
  width: 25%;
}

.revealedCapital{
  font-size: 2em;
  padding-top: 2%;
  padding-bottom: 2%;
  color: red;
  text-align: center;
}
